<%= simple_form_for(@team) do |t| %>
  <%= t.label :year, "År"%>
  <%= t.select :year, (Date.today.year-5)..(Date.today.year+5), :selected => Time.current.year %>

  <%= label :active, "Aktivt" %>
   <div class="inline">
    <div class="inline-content">
        <%= t.label 'active_true', 'Ja' %>
        <%= t.radio_button :active, true %>
    </div>
    <div class="inline-content">
        <%= t.label 'active_false', 'Nej' %>
        <%= t.radio_button :active, false %>
    </div>
   </div>
   <%= t.input :users, :as => :array, label: "Drifvare 1"  %>
   <%= t.input :users, :as => :array, label: "Drifvare 2"  %>
   <%= t.input :users, :as => :array, label: "Drifvare 3"  %>
   <%= t.input :users, :as => :array, label: "Drifvare 4"  %>
   <%= t.input :users, :as => :array, label: "Drifvare 5"  %>
   <%= t.input :users, :as => :array, label: "Drifvare 6"  %>
   <%= t.input :users, :as => :array, label: "Drifvare 7"  %>
   <%= t.input :users, :as => :array, label: "Drifvare 8"  %>
   <%= t.input :users, :as => :array, label: "Drifvare 9"  %>

    <%= t.submit "Go!", class: "btn btn-primary" %>
<% end %>

