<div class="homepage">
  <% if !logged_in? %>
  <div class="home-title">
    <h1>Drifveriets Baxapp</h1>
  </div>
  <%= image_tag("drifvarpiska.svg", :class => "piska-stor") %>
  <% end %>
  <% if logged_in? %>
</div>
<section>
  <div class="row">
    <h2 class="left">Baxapp</h2>
  </div>
</section>
<section class="purchases">
  <div class="row">
    <h3>Strecka</h3>
    <p class="left">Tid sedan du streckade sist:
      <% if @last_purchase %>
      <%= time_ago_in_words(@last_purchase.created_at) %>
      <% else %>
      Du har inte streckat än
      <% end %>
    </p>
    <%= render 'purchases/form', purchase: @purchase %>
  </div>
</section>

<section>
  <div class="row">
    <h3>Dina streck</h3>
    <%= pie_chart @purchases_stats, colors: ["#ed1869", "#cc004f", "#6b0029", "#f2694b"] %>
  </div>
</section>

<section>
  <div class="row">
    <h3>Topplistan</h3>
    <table class="purchases">
  <thead>
    <tr>
      <th>Drifter</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
    <tr>
      <td><%= gravatar_for u, size: 250 %><%= u.name %></td>
      <td><%= u.debt %> kr</td>
    </tr>
    <% end %>
  </tbody>
</table>
  </div>
</section>


<% end %>


