<div class="homepage">
  <% if !logged_in? %>
  <div class="home-title">
  <h1>Drifveriets Baxapp</h1>
  </div>
  <%= image_tag("drifvarpiska.svg", :class => "piska-stor") %>
  <% end %>
  <% if logged_in? %>
  <h1>Hej <%= current_user.name %>!</h1>
  <h2>Strecka</h2>
  <section class="purchases">
  <%= render 'purchases/form', purchase: @purchase %>
  </section>
  <% if current_user.admin? %>
  <h2>Baxmor</h2>
  <div class="icons">
    <div class="icons-row">
      <div class="icon">
        <%= link_to new_order_path do %>
        <%= image_tag("orders.svg", :class => "link-icon") %>
        <h4>Nytt inköp</h4>
        <% end %>
      </div>
      <div class="icon">
        <%= link_to orders_path do %>
        <%= image_tag("allorders.svg", :class => "link-icon") %>
        <h4>Alla inköp</h4>
        <% end %>
      </div>
      <div class="icon">
        <%= link_to new_product_path do %>
        <%= image_tag("products.svg", :class => "link-icon") %>
        <h4>Ny produkt</h4>
        <% end %>
      </div>
      <div class="icon">
        <%= link_to payments_path do%>
        <%= image_tag("baxkassa.svg", :class => "link-icon") %>
        <h4>Baxkassa</h4>
        <% end %>
      </div>
    </div>
    <% end %>
  <h2>Dina streck</h2>
  <%= render 'users/purchases_table', user: @user %>
    <% end %>


