<div class="homepage">
  <% if !logged_in? %>
  <%= render "sessions/new" %>
  <% end %>
  <% if logged_in? %>
</div>
<section>
  <div class="row">
    <h1 class="title">Baxapp</h1>
  </div>
</section>
<section class="purchases">
  <div class="row">
    <h5>Strecka</h5>
    <p class="left">Tid sedan du streckade sist:
      <% if @last_purchase %>
      <i><%= time_ago_in_words(@last_purchase.created_at) %>.</i>
      <% else %>
      <i>Du har inte streckat.</i>
      <% end %>
    </p>
    <%= render 'purchases/form', purchase: @purchase %>
  </div>
</section>

<seciton>
  <div class="row">
    <h5>Din ekonomi</h5>
      <table class="purchases">
        <thead>
          <tr>
            <th>Streckat för</th>
            <th>Att betala</th>
            <th>Mest streckade produkt</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.debt %> pix</td>
            <td><%= @user.total %> pix</td>
            <td><%= @user.most_purchased %></td>
          </tr>
        </tbody>
      </table>
  </div>
</seciton>

<section>
  <div class="row">
    <h5>Topplistan</h5>
    <table class="purchases">
  <thead>
    <tr>
      <th>Drifter</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
    <tr>
      <td><%= gravatar_for u, size: 250 %><%= link_to u.name, u %></td>
      <td><%= u.debt %> kr</td>
    </tr>
    <% end %>
  </tbody>
</table>
  </div>
</section>
<% end %>


