<div class="homepage">
  <% if !logged_in? %>
  <%= render "sessions/new" %>
  <% end %>
  <% if logged_in? %>
</div>
<section>
  <div class="row">
    <h2 class="left">Baxapp</h2>
  </div>
</section>
<section class="purchases">
  <div class="row">
    <h3>Strecka</h3>
    <p class="left">Tid sedan du streckade sist:
      <% if @last_purchase %>
      <i><%= time_ago_in_words(@last_purchase.created_at) %>.</i>
      <% else %>
      <i>Du har inte streckat.</i>
      <% end %>
    </p>
    <%= render 'purchases/form', purchase: @purchase %>
  </div>
</section>

<section>
  <div class="row">
    <h3>Dina streck</h3>
      <% if @last_purchase %>
      <%= pie_chart @purchases_stats, legend: false, colors: ["#330000", "#ffbfbf", "#991400", "#f24100", "#bf7960", "#ffd9bf", "#ff8800", "#4c3213", "#b27700", "#f2ca79", "#595543", "#595516", "#cad900", "#aab386", "#549926", "#005900", "#bfffbf", "#3df255", "#0d3321", "#00b377", "#40fff2", "#468c88", "#008fb3", "#0d2b33", "#00aaff", "#bfeaff", "#003059", "#2d62b3", "#8698b3", "#1b00cc", "#9979f2", "#300059", "#4e3366", "#e63df2", "#d5a3d9", "#8c0070", "#f200a2", "#59003c", "#664d57", "#d9003a", "#cc6681", "#731d28"] %>
      <% else %>
      <i>Du har inte streckat.</i>
      <% end %>
  </div>
</section>

<section>
  <div class="row">
    <h3>Topplistan</h3>
    <table class="purchases">
  <thead>
    <tr>
      <th>Drifter</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
    <tr>
      <td><%= gravatar_for u, size: 250 %><%= link_to u.name, u %></td>
      <td><%= u.debt %> kr</td>
    </tr>
    <% end %>
  </tbody>
</table>
  </div>
</section>
<% end %>


