<div class="homepage">
  <% if !logged_in? %>
  <div class="home-title">
  <h1>Drifveriets Baxapp</h1>
  </div>
  <%= image_tag("drifvarpiska.svg", :class => "piska-stor") %>
  <% end %>
  <% if logged_in? %>
  <h1>Hej <%= current_user.name %>!</h1>
  <div class="icons">
    <div class="icons-row">
      <div class="icon">
        <%= link_to new_purchase_path do %>
        <%= image_tag("purchase.svg", :class => "link-icon") %>
        <h4>Strecka</h4>
        <% end %>
      </div>
      <div class="icon">
        <%= link_to purchases_user_path(id: current_user.id) do %>
        <%= image_tag("user.svg", :class => "link-icon") %>
        <h4>Mina streck</h4>
        <% end %>
      </div>
      <div class="icon">
       <%= link_to users_path do %>
       <%= image_tag("toplist.svg", :class => "link-icon") %>
       <h4>Topplistan</h4>
       <% end %>
     </div>
     <div class="icon">
      <%= link_to comments_path do %>
      <%= image_tag("makeawish.svg", :class => "link-icon") %>
      <h4>Önska produkter</h4>
      <% end %>
    </div>
  </div>
  <% if current_user.admin? %>
  <h2>Baxmor</h2>
  <div class="icons">
    <div class="icons-row">
      <div class="icon">
        <%= link_to new_order_path do %>
        <%= image_tag("orders.svg", :class => "link-icon") %>
        <h4>Nytt inköp</h4>
        <% end %>
      </div>
      <div class="icon">
        <%= link_to orders_path do %>
        <%= image_tag("allorders.svg", :class => "link-icon") %>
        <h4>Alla inköp</h4>
        <% end %>
      </div>
      <div class="icon">
        <%= link_to new_product_path do %>
        <%= image_tag("products.svg", :class => "link-icon") %>
        <h4>Ny produkt</h4>
        <% end %>
      </div>
      <div class="icon">
        <%= link_to payments_path do%>
        <%= image_tag("baxkassa.svg", :class => "link-icon") %>
        <h4>Baxkassa</h4>
        <% end %>
      </div>
    </div>
    <% end %>
    <% end %>


