<h1 class="title">Baxappen</h1>
<div class="login_form_wrapper">
  <%= image_tag "drifvarpiska.svg", class: "logo" %>
  <div class="form">
    <%= bootstrap_form_for(:session, url: login_path) do |f| %>

    <%= f.email_field :email, label: "Mail" %>

    <%= f.password_field :password, label: "Lösenord" %>
    <%= f.hidden_field :remember_me, :value => true %>

    <%= f.submit "Logga in", class: "btn btn-primary" %>
    <% end %>

    <div class="register_text">
     <%= link_to "Har du ingen användare? Registrera dig nu!", signup_path %>
   </div>
 </div>
</div>
