<li class="user">
  <%= gravatar_for user, size: 250 %>
  <h2 class="center">
    <%= link_to user.name, user %>
  </h2>
  <h4>
    Streckat för: <%= user.debt %> pix
  </h4>
  <h4>
    Att betala: <%= user.total %> pix
  </h4>
  <h4>
  <%= link_to "Betala", new_payment_path %>
  <h4>
</li>
