<li class="user">
  <%= gravatar_for user, size: 250 %>
  <h2>
    <%= link_to user.name, user %>
  </h2>
  <h4>
    <%= user.debt %> pix
  </h4>
    Skuld: <%= user.debt %>
  <% if current_user.admin? %>
    <%= button_to "edit" %>
  <% end %>
</li>
