<div class="heading">
  <h2 class="center">Ändra profil</h2>
</div>

<div class="row">
    <%= form_for(@user) do |f| %>

    <%= f.label :namn %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :lösenord %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "Bekräfta lösenord" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit "Spara dina ändringar", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <div class="gravatar-link">
        <a href="https://www.gravatar.com/emails" target="_blank">Klicka här för att ändra din profilbild</a>
      </div>
    </div>
</div>