<h1 class="title">Baxappen</h1>
<div class="login_form_wrapper">
  <div class="form">
    <%= bootstrap_form_for(@user) do |f| %>

    <%= f.text_field :name, label: "Namn" %>
    <%= f.email_field :email, label: "Mail" %>

    <%= f.password_field :password, label: "Lösenord" %>
    <%= f.password_field :password_confirmation, label: "Bekräfta lösenord" %>

    <%= f.submit "Reigstrera", class: "btn btn-primary" %>
    <div class="register_text">
     <%= link_to "Har du redan en användare? Logga in!", root_path %>
   </div>
    <% end %>
 </div>
</div>

