<section class="profile">
  <%= render @user %>
  <section>
    <div class="row">
      <h5>Drifverier</h5>
      <table class="purchases">
        <thead>
          <tr>
            <th>Drifveri</th>
            <th>Aktivt</th>
          </tr>
        </thead>

        <tbody>
          <% @user.all_teams.each do |t| %>
          <tr>
            <td>Drifveriet anno <%= link_to t.year, t %></td>
            <td><%= t.active ? 'Ja' : 'Nej'%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>

  <section>
    <div class="row">
      <% if current_user.admin? && !current_user?(@user) %>
      <%= button_to "Ta bort användare", @user, method: :delete, data: { confirm: "Är du säker?" }, class: "btn btn-primary" %>
      <% end %>

      <% if current_user.admin? && !current_user?(@user) %>
      <% if @user.admin?  %>
      <%= button_to "Ta bort som admin", remove_user_admin_user_path, :method => :post, class: "btn btn-primary" %>
      <% else %>
      <%= button_to "Gör till admin", make_user_admin_user_path, :method => :post , class: "btn btn-primary" %>
      <% end %>
      <% end %>

    </div>
  </section>

  <section>
    <div class="row">
      <% if current_user?(@user) %>
      <h5 class="center"><%= link_to 'Visa dina streck', purchases_user_path %></h5>
      <% end %>
      <% if current_user.admin? %>
      <h5 class="center"> <%= link_to "Ändra", edit_user_path(@user) %> </h5>
      <% end %>
    </div>
  </section>
