<%= form_for(purchase) do |f| %>
  <% if purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= collection_select(:purchase, :product_id, Product.all, :id, :name) %>
  <%= collection_select(:purchase, :user_id, User.all, :id, :name) %>
  <div class="actions">
    <%= f.submit "Strecka" %>
  </div>
<% end %>
