<div class="strecka-form">
<%= form_for(purchase) do |f| %>
  <% if purchase.errors.any? %>
    <div id="error_explanation">
      <div class="h4-center"><h4>Detta gick inte att strecka av följande anledning(ar):</h4></div>

      <ul>
      <% purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= collection_select(:purchase, :product_id, Product.all.sort_by(&:name), :id, :name, :prompt => "Välj produkt") %>
  <%= collection_select(:purchase, :user_id, User.all.sort_by(&:name), :id, :name, {selected: current_user.id}) %>
  <div class="actions">
    <%= f.submit "Strecka" %>
  </div>
<% end %>
</div>
