<p id="notice"><%= notice %></p>

<h1>Streck</h1>

<table class="purchases">
  <thead>
    <tr>
      <th>Produkt</th>
      <th>Användare</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.product.name %></td>
        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nytt streck', new_purchase_path %>
  <% if current_user.admin? %>
   <%= link_to "Ta bort alla", remove_all_purchases_path, :method => :get %>
  <% end %>
