<div class="row">
  <h2 class="title">Pingis</h2>
</div>

<section>
  <div class="row">
    <h5>Ny match</h5>
    <%= render 'form', pingpong: @pingpong %>
  </div>
</section>

<section>
  <div class="row">
    <h5>Alla matcher</h5>
    <table class="purchases">
      <thead>
        <tr>
          <th>Vinnare</th>
          <th>Förlorare</th>
          <th>Resultat</th>
        </tr>
      </thead>

      <tbody>
        <% @pingpongs.each do |p| %>
        <tr>
          <td><%= p.winning_user.name %></td>
          <td><%= p.loosing_user.name %></td>
          <td><%= p.sets_p1 %> - <%= p.sets_p2 %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>


