<section>
<div class="makeawishform">
	<div class="row">
		<h2>Önska produkter</h2>
			<%= render 'form', comment: @request %>
	</div>
</div>
<div class="row">
	<h3>Önskade produkter</h3>
<div class="makeawishtable">
	<table class="purchases">
		<thead>
			<tr>
				<th>Produkt</th>
				<th>Önskad av</th>
				<th>Röster</th>
			</tr>
		</thead>

		<tbody>
			<% @requests.each do |c| %>
			<tr>
				<td><%= c.comment %></td>
				<% if (c.user != nil) then %>
				<td><%= c.user.name%></td>
				<% else %>
				<td> Användare borttagen </td>
				<% end %>
				<td>
					<%= c.get_upvotes.size - c.get_downvotes.size %>
				</td>
				<td class="no-padding">
					<%= link_to upvote_request_path(c), method: :put do %>
					<%= image_tag("arrow-up.svg", :class => "thumb-icon") %>
					<% end %>
					<%= link_to downvote_request_path(c), method: :put do %>
					<%= image_tag("arrow-down.svg", :class => "thumb-icon") %>
					<% end %>
				</td>
				<td><%= link_to 'Ta bort', c, method: :delete, data: { confirm: 'Är du säker?' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
</div>
</section>

