<h5>Om inköpet</h5>
<%= simple_form_for @order do |f| %>
<div>
  <%= label :date, "Inköpstdatum" %>
  <%= f.date_field(:date, :order => [:day, :month, :year]) %>
  <%= label :mammerist, "Person som betalade" %>
  <%= f.text_field :mammerist, class: 'form-control' %>
  <%= label :total, "Totalsumma" %>
  <%= f.number_field :total, class: 'form-control' %>
  <%= f.input_field :payed, as: :boolean, checked_value: true, unchecked_value: false, inline_label: "Betalad",  %>

<div>
  <h5>Produkter</h5>

  <div id="order_items">
    <%= f.simple_fields_for :order_items do |order_item| %>
    <%= render 'order_item_fields', f: order_item %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Lägg till produkt', f, :order_items %>
    </div>
  </div>
  <div>
   <%= f.submit "Go!", class: "btn btn-primary" %>
   <% end %>
 </div>
</div>


