<%= form_for @order do |f| %>
 <% if @order.errors.any? %>
            <div id="errorExplanation">

                <h2><%= pluralize(@order.errors.count, "error") %> prohibited this post from being saved:</h2>

                <ul>
                    <% @order.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                  </ul>
            </div>
  <% end %>
  <div>
    <%= f.label :date %> <%= f.date_select(:date, :order => [:day, :month, :year]) %>
    <%= f.label :mammerist %>
    <%= f.text_field :mammerist, class: 'form-control' %>
    <%= f.label :total %>
    <%= f.number_field :total, class: 'form-control' %>
    <%= f.hidden_field :order_id, :value => @order.id %>
  </div>

  <div>
    <p><strong>Produkter:</strong></p>

    <div id="addresses">
      <%= f.fields_for :order_items do |p| %>
        <%= render 'order_item_fields', f: p %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add item', f, :order_items %>
      </div>
    </div>
  </div>

  <%= f.submit %>
<% end %>