<div class="nested-fields">
  <%= f.label :product_id %>
  <!--TODO: FIX -->
  <%= collection_select(:order_item, :product_id, Product.all.sort_by(&:name), :id, 
      	  :name) %>
  <%= f.label :antal %>
  <%= f.number_field :quantity %>

  <%= link_to_remove_association "remove item", f %>
</div>