<div class="nested-fields">
   <%= f.association :product, collection: Product.where(team_id: SessionsController.helpers.current_team.id).sort_by(&:name), label: "Produkt"%>
   <%= label :quantity, "Antal" %>
   <%= f.number_field :quantity %>
   <%= label :price, "Totalt pris" %>
   <%= f.number_field :price %>
  <%= link_to_remove_association "Ta bort produkt", f %>
</div>