<div class="row">
  <h2 class="title">Baxmor</h2>
</div>

<section class="purchases">
  <div class="row">
    <h5>Inköp</h5>
    <%= button_to "Nytt inköp", new_order_path, method: :get, class: "btn btn-primary" %>
  </div>
  <div class="row">
    <table class="purchases">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Summa</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.date, order %></td>
            <td><%= order.total %> kr</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</section>

<section class="purchases">
  <div class="row">
    <h5>Produkter</h5>
    <%= button_to "Ny produkt", new_product_path, method: :get, class: "btn btn-primary" %>
  </div>
  <div class="row">
  <table class="purchases">
      <thead>
        <tr>
          <th>Produkt</th>
          <th>Pris</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %> kr</td>
          <td><%= link_to 'Ta bort', product, method: :delete, data: { confirm: 'Är du säker?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>


<section>
  <div class="row">
    <h5>Inköpta produkter</h5>
  </div>
  <div class="row">
    <table class="purchases">
        <thead>
          <tr>
            <th>Produkt</th>
            <th>Antal</th>
            <th>Pris</th>
          </tr>
        </thead>
        <tbody>
          <% @order_items_grouped.each do |product, order_items| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.total_quantity %></td>
            <td><%= product.price %> kr</td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</section>