<p id="notice"><%= notice %></p>

<h1>Inköp</h1>

<table class="purchases">
  <thead>
    <tr>
      <th>Summa</th>
      <th>Datum</th>
      <th>Mammerist</th>
      <th>Betalad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.total %> kr</td>
        <td><%= order.date %></td>
        <td><%= order.mammerist %></td>
        <td><%= order.payed_text %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h2>Alla produkter</h2>
<% unless @order_items_grouped.blank? %>
<table class="purchases">
  <thead>
    <tr>
      <th>Produkt</th>
      <th>Antal</th>
      <th>Pris</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 <tbody>
    <% @order_items_grouped.each do |product, order_items| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.total_quantity %></td>
        <td><%= product.price %> kr</td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'New Order', new_order_path %>


