<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @order.total %> kr
</p>

<p>
  <strong>Date:</strong>
  <%= @order.date %>
</p>

<p>
  <strong>Mammerist:</strong>
  <%= @order.mammerist %>
</p>

<p>
  <strong>Betalad:</strong>
  <%= @order.payed %>
</p>

<strong>Produkter</strong>
<table class="products">
    <thead>
      <tr>
        <th>Namn</th>
        <th>Antal</th>
        <th>Pris</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |oi| %>
        <tr>
          <td><%= oi.product.name%></td>
          <td><%= oi.quantity%></td>
          <td><%= oi.product.price%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
