<div class="row">
  <h2 class="title">Inköp</h2>
</div>

<section>
  <div class="row">
  <h5>Info</h5>
  <table class="purchases">
        <thead>
          <tr>
            <th>Summa</th>
            <th>Datum</th>
            <th>Betalad av</th>
            <th>Betalad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @order.total %> kr</td>
            <td><%= @order.date %></td>
            <td><%= @order.mammerist %></td>
            <td><%= @order.payed_text %></td>
          </tr>
        </tbody>
      </table>
    </div>
</section>

<section>
  <div class="row">
  <h5>Produkter</h5>
    <table class="purchases">
    <thead>
      <tr>
        <th>Namn</th>
        <th>Antal</th>
        <th>Pris</th>
        <th>Summa</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |oi| %>
      <tr>
        <td><%= oi.product.name%></td>
        <td><%= oi.quantity%></td>
        <td><%= oi.product.price%> kr</td>
        <td><%= oi.quantity * oi.product.price%> kr</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</section>

<section>
  <div class="row">
    <%= link_to 'Redigera', edit_order_path(@order) %> |
    <%= link_to 'Tillbaka', orders_path %>
  </div>
</section>
