<h1>Nytt inköp</h1>

<%= form_for @cart do |f| %>
<%= f.label :datum %><br>
<%= f.date_select(:date, :order => [:day, :month, :year]) %>
<%= f.label :mammerist %>
<%= f.text_field :mammerist %>
 <%= f.fields_for :cart_items do |cart_item_form| %>
    <p>
        Cart item: <%= cart_item_form.text_field :name %>
    </p>
  <% end %>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>


