<p id="notice"><%= notice %></p>
<div class="outlay">
   <h4>
    Beskrivning: <%= @outlay.description %>
  </h4>

  <h4>
    Summa: <%= @outlay.sum %> kr
  </h4>

  <h2>Användare</h2>
  <table class="purchases">
    <thead>
      <tr>
        <th>Namn</th>
        <th>Summa</th>
        <th>Betalat</th>
      </tr>
    </thead>
    <tbody>
      <% @outlay.debters.each do |d| %>
      <tr>
        <td><%= d.user.name%></td>
        <td><%= d.amount%></td>
        <td><%= d.payed_text%> kr</td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Redigera', edit_order_path(@order) %> |
  <%= link_to 'Tillbaka', orders_path %>
</div>
