<p id="notice"><%= notice %></p>

<h3>
  Inbetalning #<%= @payment.id %>
</h3>

<h2>
  <%= @payment.amount %> 
</h2>

<h4>
  <%= @purchase.user.name %>
<h4>

<%= link_to 'Redigera', edit_payment_path(@payment) %> |
<%= link_to 'Tillbaka', payments_path %>
