<li class="product">
  <h1>
    <%= link_to product.name, product %>
  </h1>
  <h2>
    <%= product.price %> kr
  </h2>

  <%= form_for(@purchase) do |f| %>
    <%= collection_select(:purchase, :product_id, Product.all, :id, :name) %>
    <%= collection_select(:purchase, :user_id, User.all, :id, :name) %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <% if current_user.admin? %>
    <%= link_to "delete", product, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>
