<li class="product">
  <h3>
    <%= link_to product.name, product %>
  </h3>
  <h5>
    <%= product.product_price %> kr
  </h5>

  <%= form_for(@purchase) do |f| %>
    <%= collection_select(:purchase, :product_id, Product.all.sort_by(&:name), :id, :name) %>
    <%= collection_select(:purchase, :user_id, User.all.sort_by(&:name), :id, :name) %>
    <div class="actions">
      <%= f.submit "Strecka" %>
    </div>
  <% end %>
</li>
