<li class="product">
  <h3>
    <%= link_to product.name, product %>
  </h3>
  <h5>
    <%= product.product_price %> kr
  </h5>

  <%= form_for(@purchase) do |f| %>
    <%= collection_select(:purchase, :product_id, Product.where(team_id: SessionsController.helpers.current_team.id).sort_by(&:name), :id, :name) %>
    <%= collection_select(:purchase, :user_id, User.where('teams && ARRAY[?]::varchar[]', [SessionsController.helpers.current_team.id]).sort_by(&:name), :id, :name) %>
    <div class="actions">
      <%= f.submit "Strecka" %>
    </div>
  <% end %>
</li>
