<div class="mobile">
  <header>
    <nav class="menu">
      <span class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= image_tag "menu.svg", :class => "menu-icon" %>
        </a>
        <ul class="dropdown-menu">
          <% if logged_in? %>
          <li><%= link_to "Hem", root_url %>
            <li><% if current_user.admin? %>
              <%= link_to "Baxmor", orders_path %>
              <% end %></li>
              <li><%= link_to "Mina streck", purchases_user_path(id: current_user.id) %></li>
              <li><%= link_to "Drifvare", users_path %></li>
              <li><%= link_to "Topplistor", toplists_path %></li>
              <li><%= link_to "Baxkassa", payments_path %></li>
              <li><%= link_to "Gemensamma köp", shared_purchases_path %></li>
              <li><%= link_to "Önska produkter", requests_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Inställningar", edit_user_path(current_user) %></li>
                <% if current_user.admin? %>
                <li><%= link_to "Whitelist", whitelists_path %></li>
                <% end %>
                <li><%= link_to "Logga ut", logout_path, method: "delete" %></li>
                <% end %>
              </ul>
            </span>
          </nav>
        </header>
</div>
