<header class="">
  <%= link_to root_url do %>
  <div class="piska-logo">
    <%= image_tag "piska.png", id: "logo" %>
    </div>
  <% end %>
  <nav class="menu">
    <span>
    <% if logged_in? %>
      <%= link_to "Strecka", new_purchase_path %>
    </span>
    <% end %>
    <% if logged_in? %>
      <span>
        <%= link_to "Mina streck", purchases_user_path(id: current_user.id) %>
      </span>
    <% end %>
    <span>
      <%= link_to "Topplistan", users_path %>
    </span>
    <% if logged_in? %>
      <span class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Användare <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Profil", current_user %></li>
          <li><%= link_to "Inställningar", edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li>
            <%= link_to "Logga ut", logout_path, method: "delete" %>
          </li>
        </ul>
      </span>
    <% else %>
      <span><%= link_to "Logga in", login_path %></span>>
    <% end %>
  </nav>
</header>
