<!DOCTYPE html>
<html>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <title>Baxapplikation</title>
     <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>

    <% if logged_in? %>
    <%= render 'layouts/sidebar' %>
    <%= render 'layouts/mobile_sidebar' %>
    <% end %>
    <% flash.each do |message_type, message| %>
    <script>
      Messenger().post({
        message: '<%= message %>',
        hideAfter: 3,
        hideOnNavigate: true
      });
    </script>
    <% end %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Bungee' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

    <script>
      function openNav() {
        document.getElementById("mobile-sidebar").style.width = "75%";
      }

      function closeNav() {
        document.getElementById("mobile-sidebar").style.width = "0";
      }
    </script>

    <main>
      <% if logged_in? %>
      <%= image_tag "menu.svg", :class => "menu-icon", :onClick => "openNav()" %>
      <div id="main" class="main">
      <%= yield %>
      </div>
      <% else %>
      <%= yield %>
      <% end %>
    </main>
    <%= debug(params) if Rails.env.development? %>
    <%= render 'layouts/footer' %>
  </body>
</html>


